@import "./App.scss";

.item-instance-management-sub-page {
    height: 100%;
    width: 100%;

    .item-code-heading {
        color: rgba(0, 0, 0, 0.45);
    }
}

.item-instance-groups-display-container {

    padding: 8px;
    width: 100%;

    .grouped-item-instance-display-container {

        padding: 8px;
        border-radius: 4px;
        margin-bottom: 8px;
        box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);

        display: flex;
        flex-direction: column;

        color: rgba(0, 0, 0, 0.75);
        transition: background-color 0.3s;

        p {
            margin-bottom: 0px;
        }

        &:hover {
            background-color: rgb(244, 250, 255);
        }

        .name-code-group {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;

            .quantity-with-name {

                display: flex;
                flex-direction: row;
                align-items: start;

                @include rfs(1.375rem, font-size);
                @include rfs(1rem, margin-right);
                font-weight: 600;

                .total-quantity {
                    color: rgba(0, 0, 0, 0.5);
                }
            }

            .item-code {
                @include rfs(1.125rem, font-size);
                font-weight: 500;
                color: rgba(0, 0, 0, 0.4)
            }
        }

        .expandable-container {

            height: 0;
            overflow: hidden;

            &.expanded {
                height: auto;
            }

            .item-instances-display-container {

                padding: 8px;
                width: 100%;

                .item-instance-display-container {

                    border: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 8px;
                    border-radius: 4px;

                    display: flex;
                    flex-direction: column;
                    margin-bottom: 8px;

                    //   box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
                    color: rgba(0, 0, 0, 0.75);
                    background-color: white;

                    .quantity-with-instance-info {

                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;

                        @include rfs(1.125rem, font-size);

                        .instance-quantity {
                            color: rgba(0, 0, 0, 0.5);
                            font-weight: 600;
                        }

                        .instance-info {
                            
                            font-weight: 500;
                            color: rgba(0, 0, 0, 0.65);

                            display: flex;
                            flex-direction: column;

                         //   @include rfs(1rem, font-size);

                            .date-purchased {
                                
                            }

                            .date-added {
                            }

                            .buy-sell {
                            }
                        }
                    }
                }
            }
        }
    }
}