@import "./App.scss";

.login-page-container {

    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .login-page {

        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;

        @include rfs(24px, padding);
    }
}

.fixed-info-overlay {

    // fixed-info-overlay is declared in App.scss, we just "extend" it here

    .auth-rejected-modal {

        .auth-rejected-image {
            object-fit: contain;
            width: calc(rfs-fluid-value(3.5rem) + 0.25rem);
            height: calc(rfs-fluid-value(3.5rem) + 0.25rem);
        }

        .auth-rejected-heading {
            margin: 0;
            text-align: center;
        }

        .auth-rejected-quote {
            @include rfs(1.25rem, font-size);
            margin-bottom: 18px;
            max-width: 75%;
            text-align: center;
        }

        .auth-rejected-button {

            border-radius: 1.5rem;
            --button-bg-color: #3278d4;
            --bg-pressed-color: rgb(43, 92, 156);
            color: #FFFFFF
        }
    }

}