@import "./App.scss";

html {
    -webkit-font-smoothing: antialiased;
}

.MuiTreeItem-label {
    background-color: transparent !important;
}

.MuiTypography-body1,
.MuiTypography-root {
    font: inherit !important;
}

.MuiTreeItem-content {
    --default-color: rgba(0, 0, 0, 0.65);
    --default-selected-bg: rgba(0, 0, 0, 0.06);
    font-family: "Roboto", "Helvetica", "sans-seriff" !important;
    font-size: 16px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    color: var(--default-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: 600;
    transition: background-color 0.25s linear, color 0.25s linear;

    // Expanded
    &.Mui-expanded {
        font-weight: 600;
    }

    &.Mui-selected,
    &.Mui-focused {
        background-color: var(--tree-view-bg-color, var(--default-selected-bg)) !important;
        color: var(--tree-view-color, var(--default-color)) !important;
    }

    &:hover {
        background-color: var(--tree-view-bg-color, var(--default-selected-bg)) !important;
        color: var(--tree-view-color, var(--default-color)) !important;
    }
}

.MuiTreeItem-label {
    font-weight: inherit !important;
    font-family: inherit !important;
}

.tree-view-label-root {
    font-weight: inherit !important;
    font-family: inherit !important;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    padding: 0.3rem 0rem;
    padding-right: 0.625rem; // This is so the number isn't all the way to the right of the curved border

    .label-icon {
        font-size: 1.375rem !important;
        margin-right: 0.5rem;
    }

    .label-text {
        font-weight: inherit;
        flex-grow: 1;
    }

    .label-info {
        font-size: 0.75rem;
        font-weight: normal;
    }
}